@import '../../theme.scss';

.NumberInput {
  color: $text;
  outline: none;
  background-color: transparent;
  border: 2px solid rgba($text, 0.25);
  height: spacing(7);
  border-radius: spacing(3.5);
  padding: {
    left: spacing(3.5);
    right: spacing(0.5);
  }
  overflow: hidden;
  position: relative;

  &.primary {
    background-color: $primary;
  }

  &.secondary {
    background-color: $secondary;
  }

  &.tertiary {
    background-color: $tertiary;
  }

  &.quaternary {
    background-color: $quaternary;
  }

  &.quinary {
    background-color: $quinary;
  }

  &:hover {
    background-color: rgba($text, 0.05);
  }

  &:focus {
    background-color: rgba($text, 0.075);
    border: 2px solid rgba($text, 0.5);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none !important;
  }
}
