@import '../../theme.scss';

.ControllersContainer {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100%;
  gap: spacing(2);
  padding: spacing(4);
  padding-top: spacing(2);
  min-height: 0;
  min-width: 0;

  .SectionTitle {
    position: absolute;
    left: spacing(2);
    top: spacing(-4);
    background-color: $tertiary;
    padding: spacing(1);
    padding-left: spacing(2);
    padding-right: spacing(2);
    border-radius: spacing(1.5);
  }

  .Section {
    position: relative;
    margin-top: spacing(4);
    background-color: $secondary;
    border-radius: spacing(1.5);
    padding: spacing(4);
    width: 100%;
  }

  .DirectorySelection {
    height: min-content;
    user-select: none;

    div {
      display: flex;
      flex-direction: row;
      gap: spacing(4);
      align-items: center;
      p {
        code {
          background-color: $primary;
          padding: spacing(1);
          border-radius: spacing(1.5);
        }
      }
    }
  }

  .ControllersPanel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    gap: spacing(4);

    .Container {
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: spacing(2);
      border: 2px solid $primary;

      .Panel {
        width: 100%;
        height: min-content;
        border-collapse: collapse;
        table-layout: fixed;
        border-radius: spacing(1.5);
        overflow: hidden;
        user-select: none;

        th {
          font-weight: normal;
          border-bottom: solid 2px $quaternary;
          background-color: $primary;
          pointer-events: none;
        }

        th,
        td {
          padding: spacing(1);
          padding-left: spacing(2);
          padding-right: spacing(2);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        td {
          text-shadow: spacing(0.4) spacing(0.4) 0px rgba($quaternary, 0.5);
        }

        tr {
          border-radius: spacing(1.5);
        }

        tr:not(:last-of-type) {
          border-bottom: 2px solid $tertiary;
        }

        th:not(:first-of-type),
        td:not(:first-of-type) {
          border-left: 1px solid $tertiary;
        }

        tbody {
          tr {
            background: $secondary;
            box-shadow: 0 0 0px $secondary;
            cursor: pointer;
            position: relative;

            &:not(:last-of-type) {
              border-bottom: 1px solid $tertiary;
            }

            &:hover {
              background: linear-gradient(
                  rgba($accent, 0.1),
                  rgba($accent, 0.1)
                ),
                linear-gradient($secondary, $secondary);
            }

            &:nth-child(even) {
              background: rgba($primary, 0.5);

              &:hover {
                background: linear-gradient(
                    rgba($accent, 0.1),
                    rgba($accent, 0.1)
                  ),
                  linear-gradient(rgba($primary, 0.5), rgba($primary, 0.5));
              }
            }

            &.Selected {
              background: $accent !important;

              td {
                text-shadow: spacing(0.4) spacing(0.4) 0px rgba($primary, 0.5);
              }
            }
          }
        }
      }
      .Controls {
        position: absolute;
        border-radius: 9999px;
        height: min-content;
        width: spacing(8);
        background-color: $quaternary;
        display: flex;
        flex-direction: column;
        right: spacing(2);
        bottom: spacing(2);

        *:not(.Seperator) {
          height: spacing(4);
          width: spacing(4);
          margin: spacing(2);
          position: relative;
          border-radius: 9999px;
          cursor: pointer;

          &:hover {
            background-color: rgba($accent, 0.75);
            box-shadow: 0 0 0px spacing(1.25) rgba($accent, 0.75);
          }

          &:active {
            background-color: $accent;
            box-shadow: 0 0 0px spacing(1) $accent;
          }
        }

        .Seperator {
          width: spacing(6);
          height: 0;
          border-bottom: 2px solid $quinary;
          border-radius: 1px;
          margin-left: spacing(1);
          margin-right: spacing(1);
        }

        .Change {
          background-color: rgba(red, 0.5) !important;
          animation: size_pulse 1s infinite alternate ease-in-out;

          @keyframes size_pulse {
            from {
              box-shadow: 0 0 0px spacing(0.5) rgba(red, 0.5);
            }
            to {
              box-shadow: 0 0 0px spacing(1.75) rgba(red, 0.5);
            }
          }
        }
      }
    }

    .Editor {
      position: relative;
      border-radius: spacing(2);
      border: 2px solid $primary;
      overflow: hidden;
      overflow-y: auto;

      table {
        overflow-x: hidden;
        width: 100%;
        border-radius: spacing(1.5);
        user-select: none;
        pointer-events: none;

        * {
          overflow-y: visible;
          pointer-events: all;
        }
        th {
          font-weight: normal;
          border-right: solid 2px $quaternary;
          background-color: $primary;
          pointer-events: none;
          width: spacing(50);
          font-size: 0.85rem;
        }

        .Section {
          th {
            vertical-align: top;

            & > div {
              display: grid;
              grid-auto-flow: column;
              align-items: center;
              justify-items: flex-end;
            }
          }
          td {
            position: relative;

            table {
              width: 100%;
              height: 0px;
              overflow-y: visible;
              display: flex;
              flex-direction: column;
              tbody {
                display: flex;
                flex-direction: column;
                tr {
                  border-radius: 0px;
                }
              }
            }
          }

          background: linear-gradient(rgba(red, 0.1), rgba(red, 0.1)),
            linear-gradient($secondary, $secondary) !important;

          &.Open > td > table {
            height: min-content;
          }

          &.Open {
            background: $secondary !important;

            td {
              padding: 0;
            }

            table + p {
              display: none;
            }

            table th,
            table td {
              padding: spacing(1);
              padding-left: spacing(2);
              padding-right: spacing(2);
              vertical-align: middle;
            }
          }
        }

        th,
        td {
          padding: spacing(1);
          padding-left: spacing(2);
          padding-right: spacing(2);
        }

        tr {
          border-radius: spacing(1.5);
          background: $secondary;

          td {
            white-space: nowrap;
            text-overflow: ellipsis;
            text-shadow: spacing(0.4) spacing(0.4) 0px rgba($quaternary, 0.5);
            position: relative;

            .TextInput {
              width: 100%;
            }
          }

          &:hover {
            background: linear-gradient(rgba($accent, 0.1), rgba($accent, 0.1)),
              linear-gradient($secondary, $secondary);
          }

          &:nth-child(even) {
            background: rgba($primary, 0.5);

            &:hover {
              background: linear-gradient(
                  rgba($accent, 0.1),
                  rgba($accent, 0.1)
                ),
                linear-gradient(rgba($primary, 0.5), rgba($primary, 0.5));
            }
          }
        }

        tr:not(:last-of-type) {
          border-bottom: 1px solid $tertiary;
        }

        th:not(:first-of-type),
        td:not(:first-of-type) {
          border-bottom: 1px solid $tertiary;
        }
      }
    }
  }
}
