.TabsContainer {
  height: 100%;
  background: var(--c-secondary);

  .TabsList {
    height: min-content;
    display: grid;
    grid-auto-flow: row;

    .Tab {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.8rem;
      gap: 0.5rem;
      padding: 1.25rem;
      padding-block-start: 1.25rem;
      padding-block-end: 1.25rem;
      border-radius: 0.5rem;

      &.selected {
        background: var(--c-accent);
      }
    }
  }

  @media screen and (max-width: 768px) and (min-height: 100vw) {
    & {
      grid-row: 2 / span 1;

      .TabsList {
        grid-auto-flow: column;

        .Tab {
          padding-block-start: 0.9rem;
          padding-block-end: 0.9rem;
        }
      }
    }
  }
}
