@import '../../theme.scss';

.ModelsContainer {
  padding: spacing(4);
  padding-top: spacing(2);
  gap: spacing(4);
  row-gap: spacing(2);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  grid-auto-flow: column;

  .ModelEditor {
    position: relative;
    min-height: 0;
  }

  .ModelPreview {
    grid-row-end: span 2;
  }
}
