@import '../../theme.scss';

.ModelsContainer {
  position: relative;

  .ModelEditor {
    height: 100%;
    position: relative;

    .Section {
      margin: spacing(4);
      position: absolute;
      top: 0;
      bottom: 0;
      height: auto;
    }
  }

  .ModelPreview {
    margin: spacing(4);
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
  }
}
