/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('./theme.css');

body {
  position: relative;
  color: var(--c-text);
  background: var(--c-primary);
  transition: background 0.1s ease;
  margin: 0;
}

#root {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2em auto;
}
