/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('./preflight.css');
@import './theme.scss';

@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/OpenSans.ttf');
}

* {
  font-family: 'Open Sans';
  color: $text;
  font-size: 0.95rem;

  &::selection {
    background-color: rgba($accent, 0.5);
  }

  &::-webkit-scrollbar {
    width: spacing(3);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  /*&::-webkit-scrollbar-button {
    color: $secondary;
  }*/

  &::-webkit-scrollbar-thumb {
    background-color: $tertiary;
    border-radius: 9999px;
    border: spacing(0.75) solid transparent;
    background-clip: content-box;
  }
}

body {
  position: relative;
  color: $text;
  background: $primary;
}

#root {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(0, 1fr) auto;
  height: 100%;
  width: 100%;
  position: fixed;
}

.AppContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(0, 1fr);
  height: 100%;
  width: 100%;

  @media screen and (max-width: 768px) and (min-height: 100vw) {
    & {
      grid-template-columns: 100%;
      grid-template-rows: 1fr auto;
    }
  }
}
