@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/OpenSans.ttf');
}

* {
  font-family: 'Open Sans';
  color: var(--c-text);
}

:root {
  --c-accent: #a855f7;
  --c-primary: #fafafa;
  --c-secondary: #f4f4f5;
  --c-tertiary: #e4e4e7;
  --c-quaternary: #d4d4d8;
  --c-text: #18181b;
}

.dark {
  --c-primary: #18181b;
  --c-secondary: #27272a;
  --c-tertiary: #3f3f46;
  --c-quaternary: #52525b;
  --c-text: #fafafa;
}
