$accent: #a855f7;
$primary: #18181b;
$secondary: #27272a;
$tertiary: #3f3f46;
$quaternary: #52525b;
$quinary: #a1a1aa;
$text: #fafafa;

@function spacing($num) {
  @return 0.25rem * $num;
}

.SectionTitle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $tertiary;
  padding: spacing(2);
  padding-top: spacing(1);
  border-top-left-radius: spacing(1.5);
  border-top-right-radius: spacing(1.5);

  &::after {
    content: '';
    background-color: $secondary;
    height: spacing(1.5);
    border-top-left-radius: spacing(1.5);
    border-top-right-radius: spacing(1.5);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.Section {
  position: relative;
  background-color: $secondary;
  border-radius: spacing(1.5);
  padding: spacing(4);
  padding-top: spacing(12);
  left: 0;
  right: 0;
}
