@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/OpenSans.ttf');
}

* {
  font-family: 'Open Sans';
  color: var(--c-text);
}

:root {
  --c-accent: #a855f7;
  --c-primary: #18181b;
  --c-secondary: #27272a;
  --c-tertiary: #3f3f46;
  --c-quaternary: #52525b;
  --c-quinary: #a1a1aa;
  --c-text: #fafafa;
}
