.ResizableColumns {
  position: relative;
  width: 100%;
  height: 100%;
  border-spacing: 0px;
  user-select: none;

  td {
    padding: 0px;

    .ChildWrapper {
      height: 100%;
      width: 100%;
      position: relative;

      .ChildBox {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }

    .Handle {
      position: relative;
      display: grid;
      place-items: center;

      svg {
        position: absolute;
        cursor: ew-resize;
        z-index: 99999;
      }
    }
  }
}
